In [1]:
import numpy as np
from PIL import Image
import pandas as pd

#receives data frame, width and length of the output
def parser(data, w, l):
    data = np.array(data, dtype=np.double)
    convert = Image.fromarray(np.array(data, dtype=np.double)).resize((w, l), Image.NEAREST)
    return np.array(convert)

def split(df, group):
    gb = df.groupby(group)
    return [gb.get_group(x) for x in gb.groups]

In [2]:
# Processing
dados = pd.read_csv("/home/pasoneto/Documents/Ciência/PhD/data/treatment/sem_duplica_real.csv")[["album_id", 'valence', 'energy', 'loudness', 'tempo']]
dados['album_id'] = list(dados.groupby('album_id').ngroup())
dados = split(dados, 'album_id')

In [ ]:
oi = [pd.DataFrame(parser(x[['valence', 'energy', 'loudness', 'tempo']], 4, 16)) for x in dados]

#adding back album id
for i in range(len(oi)):
    oi[i]['album_id'] = i
    oi[i]['track_number'] = range(16)

In [ ]:
f = pd.concat(oi)

           0         1         2         3  album_id  track_number
0  -1.488135  0.714469  0.593233  0.550949         0             0
1  -0.731889  0.657808  0.439455  0.159292         0             1
2   0.870511  0.538070  0.113464 -0.670038         0             2
3   1.228580  0.289643  0.170725 -1.263131         0             3
4   0.229650 -0.079054  0.634161 -1.561675         0             4
..       ...       ...       ...       ...       ...           ...
11  0.716261  0.882502  0.498914  0.104766      3845            11
12 -0.598988 -1.192874 -1.360784  0.082874      3845            12
13 -0.601773 -1.071110 -1.419408 -0.338276      3845            13
14 -0.466983 -0.317879  0.522798  0.017703      3845            14
15 -0.991012 -0.159681  0.817740  0.821330      3845            15

[61536 rows x 6 columns]

In [12]:
f.to_csv('upsampled_filtered.csv')